@font-face {
  font-family: 'z-icon';
  /* Project id 4468162 */
  src:
    url('https://at.alicdn.com/t/c/font_4468162_ufwkyhwdj2s.woff2?t=1710480106519')
      format('woff2'),
    url('https://at.alicdn.com/t/c/font_4468162_ufwkyhwdj2s.woff?t=1710480106519')
      format('woff'),
    url('https://at.alicdn.com/t/c/font_4468162_ufwkyhwdj2s.ttf?t=1710480106519')
      format('truetype');
}

.z-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  font: normal normal normal 28rpx / 1 var(--van-icon-font-family, 'z-icon');
  font-size: inherit;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: inherit;
}

.z-icon-check-small:before {
  content: '\e9d4';
}

.z-icon-down-big:before {
  content: '\e696';
}

.z-icon-left-big:before {
  content: '\e697';
}

.z-icon-up-big:before {
  content: '\e698';
}

.z-icon-right-big:before {
  content: '\e699';
}

.z-icon-moon:before {
  content: '\e66d';
}

.z-icon-sun:before {
  content: '\e674';
}

.z-icon-delete-key:before {
  content: '\e746';
}

.z-icon-miniprogram-fill:before {
  content: '\e632';
}

.z-icon-hide-key:before {
  content: '\e644';
}

.z-icon-miniprogram:before {
  content: '\e600';
}

.z-icon-funnelplot:before {
  content: '\e804';
}

.z-icon-home-fill:before {
  content: '\e904';
}

.z-icon-like:before {
  content: '\e805';
}

.z-icon-trophy-fill:before {
  content: '\e905';
}

.z-icon-unlike:before {
  content: '\e806';
}

.z-icon-location-fill:before {
  content: '\e906';
}

.z-icon-unlock:before {
  content: '\e807';
}

.z-icon-cloud-fill:before {
  content: '\e907';
}

.z-icon-lock:before {
  content: '\e808';
}

.z-icon-customerservice-fill:before {
  content: '\e908';
}

.z-icon-customerservice:before {
  content: '\e809';
}

.z-icon-experiment-fill:before {
  content: '\e909';
}

.z-icon-flag:before {
  content: '\e80a';
}

.z-icon-eye-fill:before {
  content: '\e90a';
}

.z-icon-moneycollect:before {
  content: '\e80b';
}

.z-icon-like-fill:before {
  content: '\e90b';
}

.z-icon-medicinebox:before {
  content: '\e80c';
}

.z-icon-lock-fill:before {
  content: '\e90c';
}

.z-icon-shop:before {
  content: '\e80d';
}

.z-icon-unlike-fill:before {
  content: '\e90d';
}

.z-icon-rocket:before {
  content: '\e80e';
}

.z-icon-star-fill:before {
  content: '\e90e';
}

.z-icon-shopping:before {
  content: '\e80f';
}

.z-icon-unlock-fill:before {
  content: '\e90f';
}

.z-icon-folder:before {
  content: '\e810';
}

.z-icon-alert-fill:before {
  content: '\e910';
}

.z-icon-folder-open:before {
  content: '\e811';
}

.z-icon-api-fill:before {
  content: '\e911';
}

.z-icon-folder-add:before {
  content: '\e812';
}

.z-icon-highlight-fill:before {
  content: '\e912';
}

.z-icon-deploymentunit:before {
  content: '\e813';
}

.z-icon-phone-fill:before {
  content: '\e913';
}

.z-icon-accountbook:before {
  content: '\e814';
}

.z-icon-edit-fill:before {
  content: '\e914';
}

.z-icon-contacts:before {
  content: '\e815';
}

.z-icon-pushpin-fill:before {
  content: '\e915';
}

.z-icon-carryout:before {
  content: '\e816';
}

.z-icon-rocket-fill:before {
  content: '\e916';
}

.z-icon-calendar-check:before {
  content: '\e817';
}

.z-icon-thunderbolt-fill:before {
  content: '\e917';
}

.z-icon-calendar:before {
  content: '\e818';
}

.z-icon-tag-fill:before {
  content: '\e918';
}

.z-icon-scan:before {
  content: '\e819';
}

.z-icon-wrench-fill:before {
  content: '\e919';
}

.z-icon-select:before {
  content: '\e81a';
}

.z-icon-tags-fill:before {
  content: '\e91a';
}

.z-icon-boxplot:before {
  content: '\e81b';
}

.z-icon-bank-fill:before {
  content: '\e91b';
}

.z-icon-build:before {
  content: '\e81c';
}

.z-icon-camera-fill:before {
  content: '\e91c';
}

.z-icon-sliders:before {
  content: '\e81d';
}

.z-icon-error-fill:before {
  content: '\e91d';
}

.z-icon-laptop:before {
  content: '\e81e';
}

.z-icon-crown-fill:before {
  content: '\e91e';
}

.z-icon-barcode:before {
  content: '\e81f';
}

.z-icon-mail-fill:before {
  content: '\e91f';
}

.z-icon-camera:before {
  content: '\e820';
}

.z-icon-car-fill:before {
  content: '\e920';
}

.z-icon-cluster:before {
  content: '\e821';
}

.z-icon-printer-fill:before {
  content: '\e921';
}

.z-icon-gateway:before {
  content: '\e822';
}

.z-icon-shop-fill:before {
  content: '\e922';
}

.z-icon-car:before {
  content: '\e823';
}

.z-icon-setting-fill:before {
  content: '\e923';
}

.z-icon-printer:before {
  content: '\e824';
}

.z-icon-USB-fill:before {
  content: '\e924';
}

.z-icon-read:before {
  content: '\e825';
}

.z-icon-golden-fill:before {
  content: '\e925';
}

.z-icon-cloud-server:before {
  content: '\e826';
}

.z-icon-build-fill:before {
  content: '\e926';
}

.z-icon-cloud-upload:before {
  content: '\e827';
}

.z-icon-boxplot-fill:before {
  content: '\e927';
}

.z-icon-cloud:before {
  content: '\e828';
}

.z-icon-sliders-fill:before {
  content: '\e928';
}

.z-icon-cloud-download:before {
  content: '\e829';
}

.z-icon-alibaba:before {
  content: '\e929';
}

.z-icon-cloud-sync:before {
  content: '\e82a';
}

.z-icon-antdesign:before {
  content: '\e92a';
}

.z-icon-video:before {
  content: '\e82b';
}

.z-icon-ant-cloud:before {
  content: '\e92b';
}

.z-icon-notification:before {
  content: '\e82c';
}

.z-icon-behance:before {
  content: '\e92c';
}

.z-icon-sound:before {
  content: '\e82d';
}

.z-icon-googleplus:before {
  content: '\e92d';
}

.z-icon-radarchart:before {
  content: '\e82e';
}

.z-icon-medium:before {
  content: '\e92e';
}

.z-icon-qrcode:before {
  content: '\e82f';
}

.z-icon-google:before {
  content: '\e92f';
}

.z-icon-fund:before {
  content: '\e830';
}

.z-icon-IE:before {
  content: '\e930';
}

.z-icon-image:before {
  content: '\e831';
}

.z-icon-amazon:before {
  content: '\e931';
}

.z-icon-mail:before {
  content: '\e832';
}

.z-icon-slack:before {
  content: '\e932';
}

.z-icon-table:before {
  content: '\e833';
}

.z-icon-alipay:before {
  content: '\e933';
}

.z-icon-idcard:before {
  content: '\e834';
}

.z-icon-taobao:before {
  content: '\e934';
}

.z-icon-creditcard:before {
  content: '\e835';
}

.z-icon-zhihu:before {
  content: '\e935';
}

.z-icon-heart:before {
  content: '\e836';
}

.z-icon-HTML:before {
  content: '\e936';
}

.z-icon-block:before {
  content: '\e837';
}

.z-icon-linkedin:before {
  content: '\e937';
}

.z-icon-error:before {
  content: '\e838';
}

.z-icon-yahoo:before {
  content: '\e938';
}

.z-icon-star:before {
  content: '\e839';
}

.z-icon-facebook:before {
  content: '\e939';
}

.z-icon-gold:before {
  content: '\e83a';
}

.z-icon-skype:before {
  content: '\e93a';
}

.z-icon-heatmap:before {
  content: '\e83b';
}

.z-icon-CodeSandbox:before {
  content: '\e93b';
}

.z-icon-wifi:before {
  content: '\e83c';
}

.z-icon-chrome:before {
  content: '\e93c';
}

.z-icon-attachment:before {
  content: '\e83d';
}

.z-icon-codepen:before {
  content: '\e93d';
}

.z-icon-edit:before {
  content: '\e83e';
}

.z-icon-aliwangwang:before {
  content: '\e93e';
}

.z-icon-key:before {
  content: '\e83f';
}

.z-icon-apple:before {
  content: '\e93f';
}

.z-icon-api:before {
  content: '\e840';
}

.z-icon-android:before {
  content: '\e940';
}

.z-icon-disconnect:before {
  content: '\e841';
}

.z-icon-sketch:before {
  content: '\e941';
}

.z-icon-highlight:before {
  content: '\e842';
}

.z-icon-Gitlab:before {
  content: '\e942';
}

.z-icon-monitor:before {
  content: '\e843';
}

.z-icon-dribbble:before {
  content: '\e943';
}

.z-icon-link:before {
  content: '\e844';
}

.z-icon-instagram:before {
  content: '\e944';
}

.z-icon-man:before {
  content: '\e845';
}

.z-icon-reddit:before {
  content: '\e945';
}

.z-icon-percentage:before {
  content: '\e846';
}

.z-icon-windows:before {
  content: '\e946';
}

.z-icon-pushpin:before {
  content: '\e847';
}

.z-icon-yuque:before {
  content: '\e947';
}

.z-icon-phone:before {
  content: '\e848';
}

.z-icon-Youtube:before {
  content: '\e948';
}

.z-icon-shake:before {
  content: '\e849';
}

.z-icon-Gitlab-fill:before {
  content: '\e949';
}

.z-icon-tag:before {
  content: '\e84a';
}

.z-icon-dropbox:before {
  content: '\e94a';
}

.z-icon-wrench:before {
  content: '\e84b';
}

.z-icon-dingtalk:before {
  content: '\e94b';
}

.z-icon-tags:before {
  content: '\e84c';
}

.z-icon-android-fill:before {
  content: '\e94c';
}

.z-icon-scissor:before {
  content: '\e84d';
}

.z-icon-apple-fill:before {
  content: '\e94d';
}

.z-icon-mr:before {
  content: '\e84e';
}

.z-icon-HTML-fill:before {
  content: '\e94e';
}

.z-icon-share:before {
  content: '\e84f';
}

.z-icon-windows-fill:before {
  content: '\e94f';
}

.z-icon-branches:before {
  content: '\e850';
}

.z-icon-QQ:before {
  content: '\e950';
}

.z-icon-fork:before {
  content: '\e851';
}

.z-icon-twitter:before {
  content: '\e951';
}

.z-icon-shrink:before {
  content: '\e852';
}

.z-icon-skype-fill:before {
  content: '\e952';
}

.z-icon-arrawsalt:before {
  content: '\e853';
}

.z-icon-weibo:before {
  content: '\e953';
}

.z-icon-verticalright:before {
  content: '\e854';
}

.z-icon-yuque-fill:before {
  content: '\e954';
}

.z-icon-verticalleft:before {
  content: '\e855';
}

.z-icon-Youtube-fill:before {
  content: '\e955';
}

.z-icon-right:before {
  content: '\e856';
}

.z-icon-yahoo-fill:before {
  content: '\e956';
}

.z-icon-left:before {
  content: '\e857';
}

.z-icon-wechat-fill:before {
  content: '\e957';
}

.z-icon-up:before {
  content: '\e858';
}

.z-icon-chrome-fill:before {
  content: '\e958';
}

.z-icon-down:before {
  content: '\e859';
}

.z-icon-alipay-circle-fill:before {
  content: '\e959';
}

.z-icon-fullscreen:before {
  content: '\e85a';
}

.z-icon-aliwangwang-fill:before {
  content: '\e95a';
}

.z-icon-fullscreen-exit:before {
  content: '\e85b';
}

.z-icon-behance-circle-fill:before {
  content: '\e95b';
}

.z-icon-doubleleft:before {
  content: '\e85c';
}

.z-icon-amazon-circle-fill:before {
  content: '\e95c';
}

.z-icon-doubleright:before {
  content: '\e85d';
}

.z-icon-codepen-circle-fill:before {
  content: '\e95d';
}

.z-icon-arrowright:before {
  content: '\e85e';
}

.z-icon-CodeSandbox-circle-f:before {
  content: '\e95e';
}

.z-icon-arrowup:before {
  content: '\e85f';
}

.z-icon-dropbox-circle-fill:before {
  content: '\e95f';
}

.z-icon-arrowleft:before {
  content: '\e860';
}

.z-icon-github-fill:before {
  content: '\e960';
}

.z-icon-arrowdown:before {
  content: '\e861';
}

.z-icon-dribbble-circle-fill:before {
  content: '\e961';
}

.z-icon-upload:before {
  content: '\e862';
}

.z-icon-googleplus-circle-f:before {
  content: '\e962';
}

.z-icon-colum-height:before {
  content: '\e863';
}

.z-icon-medium-circle-fill:before {
  content: '\e963';
}

.z-icon-vertical-align-botto:before {
  content: '\e864';
}

.z-icon-QQ-circle-fill:before {
  content: '\e964';
}

.z-icon-vertical-align-middl:before {
  content: '\e865';
}

.z-icon-IE-circle-fill:before {
  content: '\e965';
}

.z-icon-totop:before {
  content: '\e866';
}

.z-icon-google-circle-fill:before {
  content: '\e966';
}

.z-icon-vertical-align-top:before {
  content: '\e867';
}

.z-icon-dingtalk-circle-fill:before {
  content: '\e967';
}

.z-icon-download:before {
  content: '\e868';
}

.z-icon-sketch-circle-fill:before {
  content: '\e968';
}

.z-icon-sort-descending:before {
  content: '\e869';
}

.z-icon-slack-circle-fill:before {
  content: '\e969';
}

.z-icon-sort-ascending:before {
  content: '\e86a';
}

.z-icon-twitter-circle-fill:before {
  content: '\e96a';
}

.z-icon-fall:before {
  content: '\e86b';
}

.z-icon-taobao-circle-fill:before {
  content: '\e96b';
}

.z-icon-swap:before {
  content: '\e86c';
}

.z-icon-weibo-circle-fill:before {
  content: '\e96c';
}

.z-icon-stock:before {
  content: '\e86d';
}

.z-icon-zhihu-circle-fill:before {
  content: '\e96d';
}

.z-icon-rise:before {
  content: '\e86e';
}

.z-icon-reddit-circle-fill:before {
  content: '\e96e';
}

.z-icon-indent:before {
  content: '\e86f';
}

.z-icon-alipay-square-fill:before {
  content: '\e96f';
}

.z-icon-outdent:before {
  content: '\e870';
}

.z-icon-dingtalk-square-fill:before {
  content: '\e970';
}

.z-icon-menu:before {
  content: '\e871';
}

.z-icon-CodeSandbox-square-f:before {
  content: '\e971';
}

.z-icon-unorderedlist:before {
  content: '\e872';
}

.z-icon-behance-square-fill:before {
  content: '\e972';
}

.z-icon-orderedlist:before {
  content: '\e873';
}

.z-icon-amazon-square-fill:before {
  content: '\e973';
}

.z-icon-align-right:before {
  content: '\e874';
}

.z-icon-codepen-square-fill:before {
  content: '\e974';
}

.z-icon-align-center:before {
  content: '\e875';
}

.z-icon-dribbble-square-fill:before {
  content: '\e975';
}

.z-icon-align-left:before {
  content: '\e876';
}

.z-icon-dropbox-square-fill:before {
  content: '\e976';
}

.z-icon-pic-center:before {
  content: '\e877';
}

.z-icon-facebook-fill:before {
  content: '\e977';
}

.z-icon-pic-right:before {
  content: '\e878';
}

.z-icon-googleplus-square-f:before {
  content: '\e978';
}

.z-icon-pic-left:before {
  content: '\e879';
}

.z-icon-google-square-fill:before {
  content: '\e979';
}

.z-icon-bold:before {
  content: '\e87a';
}

.z-icon-instagram-fill:before {
  content: '\e97a';
}

.z-icon-font-colors:before {
  content: '\e87b';
}

.z-icon-IE-square-fill:before {
  content: '\e97b';
}

.z-icon-exclaimination:before {
  content: '\e87c';
}

.z-icon-medium-square-fill:before {
  content: '\e97c';
}

.z-icon-check-circle:before {
  content: '\e77d';
}

.z-icon-font-size:before {
  content: '\e87d';
}

.z-icon-linkedin-fill:before {
  content: '\e97d';
}

.z-icon-CI:before {
  content: '\e77e';
}

.z-icon-infomation:before {
  content: '\e87e';
}

.z-icon-QQ-square-fill:before {
  content: '\e97e';
}

.z-icon-Dollar:before {
  content: '\e77f';
}

.z-icon-line-height:before {
  content: '\e87f';
}

.z-icon-reddit-square-fill:before {
  content: '\e97f';
}

.z-icon-compass:before {
  content: '\e780';
}

.z-icon-strikethrough:before {
  content: '\e880';
}

.z-icon-twitter-square-fill:before {
  content: '\e980';
}

.z-icon-close-circle:before {
  content: '\e781';
}

.z-icon-underline:before {
  content: '\e881';
}

.z-icon-sketch-square-fill:before {
  content: '\e981';
}

.z-icon-frown:before {
  content: '\e782';
}

.z-icon-number:before {
  content: '\e882';
}

.z-icon-slack-square-fill:before {
  content: '\e982';
}

.z-icon-info-circle:before {
  content: '\e783';
}

.z-icon-italic:before {
  content: '\e883';
}

.z-icon-taobao-square-fill:before {
  content: '\e983';
}

.z-icon-left-circle:before {
  content: '\e784';
}

.z-icon-code:before {
  content: '\e884';
}

.z-icon-weibo-square-fill:before {
  content: '\e984';
}

.z-icon-down-circle:before {
  content: '\e785';
}

.z-icon-column-width:before {
  content: '\e885';
}

.z-icon-zhihu-square-fill:before {
  content: '\e985';
}

.z-icon-EURO:before {
  content: '\e786';
}

.z-icon-check:before {
  content: '\e886';
}

.z-icon-zoomout:before {
  content: '\e986';
}

.z-icon-copyright:before {
  content: '\e787';
}

.z-icon-ellipsis:before {
  content: '\e887';
}

.z-icon-apartment:before {
  content: '\e987';
}

.z-icon-minus-circle:before {
  content: '\e788';
}

.z-icon-dash:before {
  content: '\e888';
}

.z-icon-audio:before {
  content: '\e988';
}

.z-icon-meh:before {
  content: '\e789';
}

.z-icon-close:before {
  content: '\e889';
}

.z-icon-audio-fill:before {
  content: '\e989';
}

.z-icon-plus-circle:before {
  content: '\e78a';
}

.z-icon-enter:before {
  content: '\e88a';
}

.z-icon-robot:before {
  content: '\e98a';
}

.z-icon-play-circle:before {
  content: '\e78b';
}

.z-icon-line:before {
  content: '\e88b';
}

.z-icon-zoomin:before {
  content: '\e98b';
}

.z-icon-question-circle:before {
  content: '\e78c';
}

.z-icon-minus:before {
  content: '\e88c';
}

.z-icon-robot-fill:before {
  content: '\e98c';
}

.z-icon-Pound:before {
  content: '\e78d';
}

.z-icon-question:before {
  content: '\e88d';
}

.z-icon-bug-fill:before {
  content: '\e98d';
}

.z-icon-right-circle:before {
  content: '\e78e';
}

.z-icon-rollback:before {
  content: '\e88e';
}

.z-icon-bug:before {
  content: '\e98e';
}

.z-icon-smile:before {
  content: '\e78f';
}

.z-icon-small-dash:before {
  content: '\e88f';
}

.z-icon-audiostatic:before {
  content: '\e98f';
}

.z-icon-trademark:before {
  content: '\e790';
}

.z-icon-pause:before {
  content: '\e890';
}

.z-icon-comment:before {
  content: '\e990';
}

.z-icon-time-circle:before {
  content: '\e791';
}

.z-icon-bg-colors:before {
  content: '\e891';
}

.z-icon-signal-fill:before {
  content: '\e991';
}

.z-icon-timeout:before {
  content: '\e792';
}

.z-icon-crown:before {
  content: '\e892';
}

.z-icon-verified:before {
  content: '\e992';
}

.z-icon-earth:before {
  content: '\e793';
}

.z-icon-drag:before {
  content: '\e893';
}

.z-icon-shortcut-fill:before {
  content: '\e993';
}

.z-icon-YUAN:before {
  content: '\e794';
}

.z-icon-desktop:before {
  content: '\e894';
}

.z-icon-videocameraadd:before {
  content: '\e994';
}

.z-icon-up-circle:before {
  content: '\e795';
}

.z-icon-gift:before {
  content: '\e895';
}

.z-icon-switchuser:before {
  content: '\e995';
}

.z-icon-warning-circle:before {
  content: '\e796';
}

.z-icon-stop:before {
  content: '\e896';
}

.z-icon-whatsapp:before {
  content: '\e996';
}

.z-icon-sync:before {
  content: '\e797';
}

.z-icon-fire:before {
  content: '\e897';
}

.z-icon-appstoreadd:before {
  content: '\e997';
}

.z-icon-transaction:before {
  content: '\e798';
}

.z-icon-thunderbolt:before {
  content: '\e898';
}

.z-icon-caret-down:before {
  content: '\e998';
}

.z-icon-undo:before {
  content: '\e799';
}

.z-icon-check-circle-fill:before {
  content: '\e899';
}

.z-icon-backward:before {
  content: '\e999';
}

.z-icon-redo:before {
  content: '\e79a';
}

.z-icon-left-circle-fill:before {
  content: '\e89a';
}

.z-icon-caret-up:before {
  content: '\e99a';
}

.z-icon-reload:before {
  content: '\e79b';
}

.z-icon-down-circle-fill:before {
  content: '\e89b';
}

.z-icon-caret-right:before {
  content: '\e99b';
}

.z-icon-reloadtime:before {
  content: '\e79c';
}

.z-icon-minus-circle-fill:before {
  content: '\e89c';
}

.z-icon-caret-left:before {
  content: '\e99c';
}

.z-icon-message:before {
  content: '\e79d';
}

.z-icon-close-circle-fill:before {
  content: '\e89d';
}

.z-icon-fast-backward:before {
  content: '\e99d';
}

.z-icon-dashboard:before {
  content: '\e79e';
}

.z-icon-info-circle-fill:before {
  content: '\e89e';
}

.z-icon-forward:before {
  content: '\e99e';
}

.z-icon-issuesclose:before {
  content: '\e79f';
}

.z-icon-up-circle-fill:before {
  content: '\e89f';
}

.z-icon-fast-forward:before {
  content: '\e99f';
}

.z-icon-poweroff:before {
  content: '\e7a0';
}

.z-icon-right-circle-fill:before {
  content: '\e8a0';
}

.z-icon-search:before {
  content: '\e9a0';
}

.z-icon-logout:before {
  content: '\e7a1';
}

.z-icon-plus-circle-fill:before {
  content: '\e8a1';
}

.z-icon-retweet:before {
  content: '\e9a1';
}

.z-icon-piechart:before {
  content: '\e7a2';
}

.z-icon-question-circle-fill:before {
  content: '\e8a2';
}

.z-icon-login:before {
  content: '\e9a2';
}

.z-icon-setting:before {
  content: '\e7a3';
}

.z-icon-EURO-circle-fill:before {
  content: '\e8a3';
}

.z-icon-step-backward:before {
  content: '\e9a3';
}

.z-icon-eye:before {
  content: '\e7a4';
}

.z-icon-frown-fill:before {
  content: '\e8a4';
}

.z-icon-step-forward:before {
  content: '\e9a4';
}

.z-icon-location:before {
  content: '\e7a5';
}

.z-icon-copyright-circle-fil:before {
  content: '\e8a5';
}

.z-icon-swap-right:before {
  content: '\e9a5';
}

.z-icon-edit-square:before {
  content: '\e7a6';
}

.z-icon-CI-circle-fill:before {
  content: '\e8a6';
}

.z-icon-swap-left:before {
  content: '\e9a6';
}

.z-icon-export:before {
  content: '\e7a7';
}

.z-icon-compass-fill:before {
  content: '\e8a7';
}

.z-icon-woman:before {
  content: '\e9a7';
}

.z-icon-save:before {
  content: '\e7a8';
}

.z-icon-Dollar-circle-fill:before {
  content: '\e8a8';
}

.z-icon-plus:before {
  content: '\e9a8';
}

.z-icon-Import:before {
  content: '\e7a9';
}

.z-icon-poweroff-circle-fill:before {
  content: '\e8a9';
}

.z-icon-eyeclose-fill:before {
  content: '\e9a9';
}

.z-icon-appstore:before {
  content: '\e7aa';
}

.z-icon-meh-fill:before {
  content: '\e8aa';
}

.z-icon-eye-close:before {
  content: '\e9aa';
}

.z-icon-close-square:before {
  content: '\e7ab';
}

.z-icon-play-circle-fill:before {
  content: '\e8ab';
}

.z-icon-clear:before {
  content: '\e9ab';
}

.z-icon-down-square:before {
  content: '\e7ac';
}

.z-icon-Pound-circle-fill:before {
  content: '\e8ac';
}

.z-icon-collapse:before {
  content: '\e9ac';
}

.z-icon-layout:before {
  content: '\e7ad';
}

.z-icon-smile-fill:before {
  content: '\e8ad';
}

.z-icon-expand:before {
  content: '\e9ad';
}

.z-icon-left-square:before {
  content: '\e7ae';
}

.z-icon-stop-fill:before {
  content: '\e8ae';
}

.z-icon-deletecolumn:before {
  content: '\e9ae';
}

.z-icon-play-square:before {
  content: '\e7af';
}

.z-icon-warning-circle-fill:before {
  content: '\e8af';
}

.z-icon-merge-cells:before {
  content: '\e9af';
}

.z-icon-control:before {
  content: '\e7b0';
}

.z-icon-time-circle-fill:before {
  content: '\e8b0';
}

.z-icon-subnode:before {
  content: '\e9b0';
}

.z-icon-codelibrary:before {
  content: '\e7b1';
}

.z-icon-trademark-circle-fil:before {
  content: '\e8b1';
}

.z-icon-rotate-left:before {
  content: '\e9b1';
}

.z-icon-detail:before {
  content: '\e7b2';
}

.z-icon-YUAN-circle-fill:before {
  content: '\e8b2';
}

.z-icon-rotate-right:before {
  content: '\e9b2';
}

.z-icon-minus-square:before {
  content: '\e7b3';
}

.z-icon-heart-fill:before {
  content: '\e8b3';
}

.z-icon-insertrowbelow:before {
  content: '\e9b3';
}

.z-icon-plus-square:before {
  content: '\e7b4';
}

.z-icon-piechart-circle-fil:before {
  content: '\e8b4';
}

.z-icon-insertrowabove:before {
  content: '\e9b4';
}

.z-icon-right-square:before {
  content: '\e7b5';
}

.z-icon-dashboard-fill:before {
  content: '\e8b5';
}

.z-icon-table1:before {
  content: '\e9b5';
}

.z-icon-project:before {
  content: '\e7b6';
}

.z-icon-message-fill:before {
  content: '\e8b6';
}

.z-icon-solit-cells:before {
  content: '\e9b6';
}

.z-icon-wallet:before {
  content: '\e7b7';
}

.z-icon-check-square-fill:before {
  content: '\e8b7';
}

.z-icon-formatpainter:before {
  content: '\e9b7';
}

.z-icon-up-square:before {
  content: '\e7b8';
}

.z-icon-down-square-fill:before {
  content: '\e8b8';
}

.z-icon-insertrowright:before {
  content: '\e9b8';
}

.z-icon-calculator:before {
  content: '\e7b9';
}

.z-icon-minus-square-fill:before {
  content: '\e8b9';
}

.z-icon-formatpainter-fill:before {
  content: '\e9b9';
}

.z-icon-interation:before {
  content: '\e7ba';
}

.z-icon-close-square-fill:before {
  content: '\e8ba';
}

.z-icon-insertrowleft:before {
  content: '\e9ba';
}

.z-icon-check-square:before {
  content: '\e7bb';
}

.z-icon-codelibrary-fill:before {
  content: '\e8bb';
}

.z-icon-translate:before {
  content: '\e9bb';
}

.z-icon-border:before {
  content: '\e7bc';
}

.z-icon-left-square-fill:before {
  content: '\e8bc';
}

.z-icon-deleterow:before {
  content: '\e9bc';
}

.z-icon-border-outer:before {
  content: '\e7bd';
}

.z-icon-play-square-fill:before {
  content: '\e8bd';
}

.z-icon-sisternode:before {
  content: '\e9bd';
}

.z-icon-border-top:before {
  content: '\e7be';
}

.z-icon-up-square-fill:before {
  content: '\e8be';
}

.z-icon-Field-number:before {
  content: '\e9be';
}

.z-icon-border-bottom:before {
  content: '\e7bf';
}

.z-icon-right-square-fill:before {
  content: '\e8bf';
}

.z-icon-Field-String:before {
  content: '\e9bf';
}

.z-icon-border-left:before {
  content: '\e7c0';
}

.z-icon-plus-square-fill:before {
  content: '\e8c0';
}

.z-icon-Function:before {
  content: '\e9c0';
}

.z-icon-border-right:before {
  content: '\e7c1';
}

.z-icon-accountbook-fill:before {
  content: '\e8c1';
}

.z-icon-Field-time:before {
  content: '\e9c1';
}

.z-icon-border-inner:before {
  content: '\e7c2';
}

.z-icon-carryout-fill:before {
  content: '\e8c2';
}

.z-icon-GIF:before {
  content: '\e9c2';
}

.z-icon-border-verticle:before {
  content: '\e7c3';
}

.z-icon-calendar-fill:before {
  content: '\e8c3';
}

.z-icon-Partition:before {
  content: '\e9c3';
}

.z-icon-border-horizontal:before {
  content: '\e7c4';
}

.z-icon-calculator-fill:before {
  content: '\e8c4';
}

.z-icon-index:before {
  content: '\e9c4';
}

.z-icon-radius-bottomleft:before {
  content: '\e7c5';
}

.z-icon-interation-fill:before {
  content: '\e8c5';
}

.z-icon-Storedprocedure:before {
  content: '\e9c5';
}

.z-icon-radius-bottomright:before {
  content: '\e7c6';
}

.z-icon-project-fill:before {
  content: '\e8c6';
}

.z-icon-Field-Binary:before {
  content: '\e9c6';
}

.z-icon-radius-upleft:before {
  content: '\e7c7';
}

.z-icon-detail-fill:before {
  content: '\e8c7';
}

.z-icon-Console-SQL:before {
  content: '\e9c7';
}

.z-icon-radius-upright:before {
  content: '\e7c8';
}

.z-icon-save-fill:before {
  content: '\e8c8';
}

.z-icon-icon-test:before {
  content: '\e9c8';
}

.z-icon-radius-setting:before {
  content: '\e7c9';
}

.z-icon-wallet-fill:before {
  content: '\e8c9';
}

.z-icon-aim:before {
  content: '\e9c9';
}

.z-icon-adduser:before {
  content: '\e7ca';
}

.z-icon-control-fill:before {
  content: '\e8ca';
}

.z-icon-compress:before {
  content: '\e9ca';
}

.z-icon-deleteteam:before {
  content: '\e7cb';
}

.z-icon-layout-fill:before {
  content: '\e8cb';
}

.z-icon-expend:before {
  content: '\e9cb';
}

.z-icon-deleteuser:before {
  content: '\e7cc';
}

.z-icon-appstore-fill:before {
  content: '\e8cc';
}

.z-icon-folder-view:before {
  content: '\e9cc';
}

.z-icon-addteam:before {
  content: '\e7cd';
}

.z-icon-mobile-fill:before {
  content: '\e8cd';
}

.z-icon-file-GIF:before {
  content: '\e9cd';
}

.z-icon-user:before {
  content: '\e7ce';
}

.z-icon-tablet-fill:before {
  content: '\e8ce';
}

.z-icon-group:before {
  content: '\e9ce';
}

.z-icon-team:before {
  content: '\e7cf';
}

.z-icon-book-fill:before {
  content: '\e8cf';
}

.z-icon-send:before {
  content: '\e9cf';
}

.z-icon-areachart:before {
  content: '\e7d0';
}

.z-icon-redenvelope-fill:before {
  content: '\e8d0';
}

.z-icon-Report:before {
  content: '\e9d0';
}

.z-icon-linechart:before {
  content: '\e7d1';
}

.z-icon-safetycertificate-f:before {
  content: '\e8d1';
}

.z-icon-View:before {
  content: '\e9d1';
}

.z-icon-barchart:before {
  content: '\e7d2';
}

.z-icon-propertysafety-fill:before {
  content: '\e8d2';
}

.z-icon-shortcut:before {
  content: '\e9d2';
}

.z-icon-pointmap:before {
  content: '\e7d3';
}

.z-icon-insurance-fill:before {
  content: '\e8d3';
}

.z-icon-ungroup:before {
  content: '\e9d3';
}

.z-icon-container:before {
  content: '\e7d4';
}

.z-icon-securityscan-fill:before {
  content: '\e8d4';
}

.z-icon-database:before {
  content: '\e7d5';
}

.z-icon-file-exclamation-fil:before {
  content: '\e8d5';
}

.z-icon-sever:before {
  content: '\e7d6';
}

.z-icon-file-add-fill:before {
  content: '\e8d6';
}

.z-icon-mobile:before {
  content: '\e7d7';
}

.z-icon-file-fill:before {
  content: '\e8d7';
}

.z-icon-tablet:before {
  content: '\e7d8';
}

.z-icon-file-excel-fill:before {
  content: '\e8d8';
}

.z-icon-redenvelope:before {
  content: '\e7d9';
}

.z-icon-file-markdown-fill:before {
  content: '\e8d9';
}

.z-icon-book:before {
  content: '\e7da';
}

.z-icon-file-text-fill:before {
  content: '\e8da';
}

.z-icon-filedone:before {
  content: '\e7db';
}

.z-icon-file-ppt-fill:before {
  content: '\e8db';
}

.z-icon-reconciliation:before {
  content: '\e7dc';
}

.z-icon-file-unknown-fill:before {
  content: '\e8dc';
}

.z-icon-file-exception:before {
  content: '\e7dd';
}

.z-icon-file-word-fill:before {
  content: '\e8dd';
}

.z-icon-filesync:before {
  content: '\e7de';
}

.z-icon-file-zip-fill:before {
  content: '\e8de';
}

.z-icon-filesearch:before {
  content: '\e7df';
}

.z-icon-file-pdf-fill:before {
  content: '\e8df';
}

.z-icon-solution:before {
  content: '\e7e0';
}

.z-icon-file-image-fill:before {
  content: '\e8e0';
}

.z-icon-fileprotect:before {
  content: '\e7e1';
}

.z-icon-diff-fill:before {
  content: '\e8e1';
}

.z-icon-file-add:before {
  content: '\e7e2';
}

.z-icon-file-copy-fill:before {
  content: '\e8e2';
}

.z-icon-file-excel:before {
  content: '\e7e3';
}

.z-icon-snippets-fill:before {
  content: '\e8e3';
}

.z-icon-file-exclamation:before {
  content: '\e7e4';
}

.z-icon-batchfolding-fill:before {
  content: '\e8e4';
}

.z-icon-file-pdf:before {
  content: '\e7e5';
}

.z-icon-reconciliation-fill:before {
  content: '\e8e5';
}

.z-icon-file-image:before {
  content: '\e7e6';
}

.z-icon-folder-add-fill:before {
  content: '\e8e6';
}

.z-icon-file-markdown:before {
  content: '\e7e7';
}

.z-icon-folder-fill:before {
  content: '\e8e7';
}

.z-icon-file-unknown:before {
  content: '\e7e8';
}

.z-icon-folder-open-fill:before {
  content: '\e8e8';
}

.z-icon-file-ppt:before {
  content: '\e7e9';
}

.z-icon-database-fill:before {
  content: '\e8e9';
}

.z-icon-file-word:before {
  content: '\e7ea';
}

.z-icon-container-fill:before {
  content: '\e8ea';
}

.z-icon-file:before {
  content: '\e7eb';
}

.z-icon-sever-fill:before {
  content: '\e8eb';
}

.z-icon-file-zip:before {
  content: '\e7ec';
}

.z-icon-calendar-check-fill:before {
  content: '\e8ec';
}

.z-icon-file-text:before {
  content: '\e7ed';
}

.z-icon-image-fill:before {
  content: '\e8ed';
}

.z-icon-file-copy:before {
  content: '\e7ee';
}

.z-icon-idcard-fill:before {
  content: '\e8ee';
}

.z-icon-snippets:before {
  content: '\e7ef';
}

.z-icon-creditcard-fill:before {
  content: '\e8ef';
}

.z-icon-audit:before {
  content: '\e7f0';
}

.z-icon-fund-fill:before {
  content: '\e8f0';
}

.z-icon-diff:before {
  content: '\e7f1';
}

.z-icon-read-fill:before {
  content: '\e8f1';
}

.z-icon-Batchfolding:before {
  content: '\e7f2';
}

.z-icon-contacts-fill:before {
  content: '\e8f2';
}

.z-icon-securityscan:before {
  content: '\e7f3';
}

.z-icon-delete-fill:before {
  content: '\e8f3';
}

.z-icon-propertysafety:before {
  content: '\e7f4';
}

.z-icon-notification-fill:before {
  content: '\e8f4';
}

.z-icon-safetycertificate:before {
  content: '\e7f5';
}

.z-icon-flag-fill:before {
  content: '\e8f5';
}

.z-icon-insurance:before {
  content: '\e7f6';
}

.z-icon-moneycollect-fill:before {
  content: '\e8f6';
}

.z-icon-alert:before {
  content: '\e7f7';
}

.z-icon-medicinebox-fill:before {
  content: '\e8f7';
}

.z-icon-delete:before {
  content: '\e7f8';
}

.z-icon-rest-fill:before {
  content: '\e8f8';
}

.z-icon-hourglass:before {
  content: '\e7f9';
}

.z-icon-shopping-fill:before {
  content: '\e8f9';
}

.z-icon-bulb:before {
  content: '\e7fa';
}

.z-icon-skin-fill:before {
  content: '\e8fa';
}

.z-icon-experiment:before {
  content: '\e7fb';
}

.z-icon-video-fill:before {
  content: '\e8fb';
}

.z-icon-bell:before {
  content: '\e7fc';
}

.z-icon-sound-fill:before {
  content: '\e8fc';
}

.z-icon-trophy:before {
  content: '\e7fd';
}

.z-icon-bulb-fill:before {
  content: '\e8fd';
}

.z-icon-rest:before {
  content: '\e7fe';
}

.z-icon-bell-fill:before {
  content: '\e8fe';
}

.z-icon-USB:before {
  content: '\e7ff';
}

.z-icon-filter-fill:before {
  content: '\e8ff';
}

.z-icon-skin:before {
  content: '\e800';
}

.z-icon-fire-fill:before {
  content: '\e900';
}

.z-icon-home:before {
  content: '\e801';
}

.z-icon-funnelplot-fill:before {
  content: '\e901';
}

.z-icon-bank:before {
  content: '\e802';
}

.z-icon-gift-fill:before {
  content: '\e902';
}

.z-icon-filter:before {
  content: '\e803';
}

.z-icon-hourglass-fill:before {
  content: '\e903';
}
