@font-face {
	font-family: 'zebra-icon';
	/* Project id 2914547 */
	src: url('//at.alicdn.com/t/font_2914547_204dyit7336.woff2?t=1638514522994') format('woff2'),
		url('//at.alicdn.com/t/font_2914547_204dyit7336.woff?t=1638514522994') format('woff'),
		url('//at.alicdn.com/t/font_2914547_204dyit7336.ttf?t=1638514522994') format('truetype');
}

.zebra-icon {
	position: relative;
	display: flex;
	font: normal normal normal 14px/1 zebra-icon;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.zebra-icon-cast:before {
	content: "\e738";
}

.zebra-icon-fast_rewind:before {
	content: "\e739";
}

.zebra-icon-pause_circle_filled:before {
	content: "\e73a";
}

.zebra-icon-play_arrow:before {
	content: "\e73b";
}

.zebra-icon-play_circle_outline:before {
	content: "\e73c";
}

.zebra-icon-skip_next:before {
	content: "\e73d";
}

.zebra-icon-pause_circle_outline:before {
	content: "\e73e";
}

.zebra-icon-repeat:before {
	content: "\e73f";
}

.zebra-icon-skip_previous:before {
	content: "\e740";
}

.zebra-icon-shuffle:before {
	content: "\e741";
}

.zebra-icon-fast_forward:before {
	content: "\e742";
}

.zebra-icon-airplay:before {
	content: "\e743";
}

.zebra-icon-play_circle_filled:before {
	content: "\e744";
}

.zebra-icon-comment:before {
	content: "\e716";
}

.zebra-icon-comment_plus:before {
	content: "\e717";
}

.zebra-icon-add_to_queue:before {
	content: "\e718";
}

.zebra-icon-comment_minus:before {
	content: "\e719";
}

.zebra-icon-comment_check:before {
	content: "\e71a";
}

.zebra-icon-list_check:before {
	content: "\e71b";
}

.zebra-icon-hide:before {
	content: "\e71c";
}

.zebra-icon-copy:before {
	content: "\e71d";
}

.zebra-icon-list_minus:before {
	content: "\e71e";
}

.zebra-icon-minus:before {
	content: "\e71f";
}

.zebra-icon-list_ul:before {
	content: "\e720";
}

.zebra-icon-edit:before {
	content: "\e721";
}

.zebra-icon-minus_circle:before {
	content: "\e722";
}

.zebra-icon-move:before {
	content: "\e723";
}

.zebra-icon-list_ol:before {
	content: "\e724";
}

.zebra-icon-move_vertical:before {
	content: "\e725";
}

.zebra-icon-list_plus:before {
	content: "\e726";
}

.zebra-icon-minus_circle_outline:before {
	content: "\e727";
}

.zebra-icon-plus:before {
	content: "\e728";
}

.zebra-icon-minus_square:before {
	content: "\e729";
}

.zebra-icon-move_horizontal:before {
	content: "\e72a";
}

.zebra-icon-plus_square:before {
	content: "\e72b";
}

.zebra-icon-search:before {
	content: "\e72c";
}

.zebra-icon-search_small_minus:before {
	content: "\e72d";
}

.zebra-icon-select_multiple:before {
	content: "\e72e";
}

.zebra-icon-search_small:before {
	content: "\e72f";
}

.zebra-icon-plus_circle_outline:before {
	content: "\e730";
}

.zebra-icon-show:before {
	content: "\e731";
}

.zebra-icon-plus_circle:before {
	content: "\e732";
}

.zebra-icon-text_align_justify:before {
	content: "\e733";
}

.zebra-icon-search_small_plus:before {
	content: "\e734";
}

.zebra-icon-text_align_center:before {
	content: "\e735";
}

.zebra-icon-text_align_right:before {
	content: "\e736";
}

.zebra-icon-text_align_left:before {
	content: "\e737";
}

.zebra-icon-laptop:before {
	content: "\e710";
}

.zebra-icon-monitor:before {
	content: "\e711";
}

.zebra-icon-tablet:before {
	content: "\e712";
}

.zebra-icon-mobile:before {
	content: "\e713";
}

.zebra-icon-mobile_alt:before {
	content: "\e714";
}

.zebra-icon-devices:before {
	content: "\e715";
}

.zebra-icon-bar_right:before {
	content: "\e701";
}

.zebra-icon-bar_top:before {
	content: "\e702";
}

.zebra-icon-bar_bottom:before {
	content: "\e703";
}

.zebra-icon-transfer:before {
	content: "\e704";
}

.zebra-icon-terminal:before {
	content: "\e705";
}

.zebra-icon-code:before {
	content: "\e706";
}

.zebra-icon-bar_left:before {
	content: "\e707";
}

.zebra-icon-cylinder:before {
	content: "\e708";
}

.zebra-icon-window_close:before {
	content: "\e709";
}

.zebra-icon-window_check:before {
	content: "\e70a";
}

.zebra-icon-window_terminal:before {
	content: "\e70b";
}

.zebra-icon-window_code_block:before {
	content: "\e70c";
}

.zebra-icon-window:before {
	content: "\e70d";
}

.zebra-icon-window_sidebar:before {
	content: "\e70e";
}

.zebra-icon-data:before {
	content: "\e70f";
}

.zebra-icon-user_check:before {
	content: "\e6f8";
}

.zebra-icon-id_card:before {
	content: "\e6f9";
}

.zebra-icon-user:before {
	content: "\e6fa";
}

.zebra-icon-user_circle:before {
	content: "\e6fb";
}

.zebra-icon-user_minus:before {
	content: "\e6fc";
}

.zebra-icon-user_x:before {
	content: "\e6fd";
}

.zebra-icon-user_plus:before {
	content: "\e6fe";
}

.zebra-icon-user_voice:before {
	content: "\e6ff";
}

.zebra-icon-user_pin:before {
	content: "\e700";
}

.zebra-icon-calendar_edit:before {
	content: "\e6f5";
}

.zebra-icon-calendar:before {
	content: "\e6f6";
}

.zebra-icon-calendar_x:before {
	content: "\e6f7";
}

.zebra-icon-calendar_calendar:before {
	content: "\e6ef";
}

.zebra-icon-calendar_check:before {
	content: "\e6f0";
}

.zebra-icon-calendar_week:before {
	content: "\e6f1";
}

.zebra-icon-calendar_minus:before {
	content: "\e6f2";
}

.zebra-icon-calendar_plus:before {
	content: "\e6f3";
}

.zebra-icon-calendar_event:before {
	content: "\e6f4";
}

.zebra-icon-trending_down:before {
	content: "\e6ee";
}

.zebra-icon-Bar_chart_horizontal:before {
	content: "\e6ed";
}

.zebra-icon-bar_chart_square:before {
	content: "\e6e1";
}

.zebra-icon-pie_chart_75:before {
	content: "\e6e2";
}

.zebra-icon-pie_chart_outline_25:before {
	content: "\e6e3";
}

.zebra-icon-pie_chart_50:before {
	content: "\e6e4";
}

.zebra-icon-pie_chart_outline:before {
	content: "\e6e5";
}

.zebra-icon-line_chart_up:before {
	content: "\e6e6";
}

.zebra-icon-trending_up:before {
	content: "\e6e7";
}

.zebra-icon-bar_chart:before {
	content: "\e6e8";
}

.zebra-icon-line_chart_down:before {
	content: "\e6e9";
}

.zebra-icon-pie_chart_25:before {
	content: "\e6ea";
}

.zebra-icon-bar_chart_alt:before {
	content: "\e6eb";
}

.zebra-icon-doughnut_chart:before {
	content: "\e6ec";
}

.zebra-icon-menu_duo:before {
	content: "\e6dc";
}

.zebra-icon-menu_alt_05:before {
	content: "\e6dd";
}

.zebra-icon-more_horizontal:before {
	content: "\e6de";
}

.zebra-icon-menu_alt_02:before {
	content: "\e6df";
}

.zebra-icon-more_vertical:before {
	content: "\e6e0";
}

.zebra-icon-dashboard_02:before {
	content: "\e6ca";
}

.zebra-icon-dashboard:before {
	content: "\e6cb";
}

.zebra-icon-grid:before {
	content: "\e6cc";
}

.zebra-icon-grid_small:before {
	content: "\e6cd";
}

.zebra-icon-grid_big:before {
	content: "\e6ce";
}

.zebra-icon-grid_small_round:before {
	content: "\e6cf";
}

.zebra-icon-close_big:before {
	content: "\e6d0";
}

.zebra-icon-grid_horizontal:before {
	content: "\e6d1";
}

.zebra-icon-grid_horizontal_round:before {
	content: "\e6d2";
}

.zebra-icon-grid_round:before {
	content: "\e6d3";
}

.zebra-icon-grid_big_round:before {
	content: "\e6d4";
}

.zebra-icon-close_small:before {
	content: "\e6d5";
}

.zebra-icon-grid_vertical_round:before {
	content: "\e6d6";
}

.zebra-icon-hamburger:before {
	content: "\e6d7";
}

.zebra-icon-grid_vertical:before {
	content: "\e6d8";
}

.zebra-icon-menu_alt_04:before {
	content: "\e6d9";
}

.zebra-icon-menu_alt_03:before {
	content: "\e6da";
}

.zebra-icon-menu_alt_01:before {
	content: "\e6db";
}

.zebra-icon-error:before {
	content: "\e6c2";
}

.zebra-icon-info_circle:before {
	content: "\e6c3";
}

.zebra-icon-info_circle_outline:before {
	content: "\e6c4";
}

.zebra-icon-info_square:before {
	content: "\e6c5";
}

.zebra-icon-warning:before {
	content: "\e6c6";
}

.zebra-icon-error_outline:before {
	content: "\e6c7";
}

.zebra-icon-warning_outline:before {
	content: "\e6c8";
}

.zebra-icon-info_square_outline:before {
	content: "\e6c9";
}

.zebra-icon-notification_active:before {
	content: "\e6bf";
}

.zebra-icon-notification_outline_plus:before {
	content: "\e6c0";
}

.zebra-icon-notification_outline_minus:before {
	content: "\e6c1";
}

.zebra-icon-notification_deactivated:before {
	content: "\e6b8";
}

.zebra-icon-notification_dot:before {
	content: "\e6b9";
}

.zebra-icon-notification:before {
	content: "\e6ba";
}

.zebra-icon-notification_outline:before {
	content: "\e6bb";
}

.zebra-icon-notification_outline_dot:before {
	content: "\e6bc";
}

.zebra-icon-notification_plus:before {
	content: "\e6bd";
}

.zebra-icon-notification_minus:before {
	content: "\e6be";
}

.zebra-icon-dot_xs:before {
	content: "\e6b3";
}

.zebra-icon-dot_l:before {
	content: "\e6b4";
}

.zebra-icon-dot_xl:before {
	content: "\e6b5";
}

.zebra-icon-dot_m:before {
	content: "\e6b6";
}

.zebra-icon-dot_s:before {
	content: "\e6b7";
}

.zebra-icon-css3:before {
	content: "\e692";
}

.zebra-icon-app_store:before {
	content: "\e693";
}

.zebra-icon-coolicons:before {
	content: "\e694";
}

.zebra-icon-discord:before {
	content: "\e695";
}

.zebra-icon-apple:before {
	content: "\e696";
}

.zebra-icon-behance:before {
	content: "\e697";
}

.zebra-icon-facebook:before {
	content: "\e698";
}

.zebra-icon-html5:before {
	content: "\e699";
}

.zebra-icon-google:before {
	content: "\e69a";
}

.zebra-icon-LinkedIn:before {
	content: "\e69b";
}

.zebra-icon-dropbox:before {
	content: "\e69c";
}

.zebra-icon-linkpath:before {
	content: "\e69d";
}

.zebra-icon-Dribbble:before {
	content: "\e69e";
}

.zebra-icon-github:before {
	content: "\e69f";
}

.zebra-icon-Figma:before {
	content: "\e6a0";
}

.zebra-icon-javascript:before {
	content: "\e6a1";
}

.zebra-icon-paypal:before {
	content: "\e6a2";
}

.zebra-icon-instagram:before {
	content: "\e6a3";
}

.zebra-icon-play_store:before {
	content: "\e6a4";
}

.zebra-icon-slack:before {
	content: "\e6a5";
}

.zebra-icon-messenger:before {
	content: "\e6a6";
}

.zebra-icon-trello:before {
	content: "\e6a7";
}

.zebra-icon-snapchat:before {
	content: "\e6a8";
}

.zebra-icon-stack_overflow:before {
	content: "\e6a9";
}

.zebra-icon-Adobe_XD:before {
	content: "\e6aa";
}

.zebra-icon-spectrum:before {
	content: "\e6ab";
}

.zebra-icon-unsplash:before {
	content: "\e6ac";
}

.zebra-icon-invision:before {
	content: "\e6ad";
}

.zebra-icon-spotify:before {
	content: "\e6ae";
}

.zebra-icon-Twitter:before {
	content: "\e6af";
}

.zebra-icon-youtube:before {
	content: "\e6b0";
}

.zebra-icon-Sketch:before {
	content: "\e6b1";
}

.zebra-icon-reddit:before {
	content: "\e6b2";
}

.zebra-icon-cloud_check:before {
	content: "\e682";
}

.zebra-icon-file_blank:before {
	content: "\e683";
}

.zebra-icon-folder_open:before {
	content: "\e684";
}

.zebra-icon-cloud_off:before {
	content: "\e685";
}

.zebra-icon-note:before {
	content: "\e686";
}

.zebra-icon-file_minus:before {
	content: "\e687";
}

.zebra-icon-cloud_up:before {
	content: "\e688";
}

.zebra-icon-folder_plus:before {
	content: "\e689";
}

.zebra-icon-cloud:before {
	content: "\e68a";
}

.zebra-icon-cloud_outline:before {
	content: "\e68b";
}

.zebra-icon-cloud_down:before {
	content: "\e68c";
}

.zebra-icon-file_new:before {
	content: "\e68d";
}

.zebra-icon-file_find:before {
	content: "\e68e";
}

.zebra-icon-folder:before {
	content: "\e68f";
}

.zebra-icon-folder_minus:before {
	content: "\e690";
}

.zebra-icon-cloud_close:before {
	content: "\e691";
}

.zebra-icon-link:before {
	content: "\e676";
}

.zebra-icon-slider_02:before {
	content: "\e677";
}

.zebra-icon-unlink:before {
	content: "\e678";
}

.zebra-icon-trash_empty:before {
	content: "\e679";
}

.zebra-icon-mail:before {
	content: "\e67a";
}

.zebra-icon-settings_filled:before {
	content: "\e67b";
}

.zebra-icon-refresh:before {
	content: "\e67c";
}

.zebra-icon-sad:before {
	content: "\e67d";
}

.zebra-icon-radio:before {
	content: "\e67e";
}

.zebra-icon-slider_03:before {
	content: "\e67f";
}

.zebra-icon-done:before {
	content: "\e680";
}

.zebra-icon-trash_full:before {
	content: "\e681";
}

.zebra-icon-alarm:before {
	content: "\e640";
}

.zebra-icon-alarm_add:before {
	content: "\e641";
}

.zebra-icon-bulb:before {
	content: "\e642";
}

.zebra-icon-checkbox_square:before {
	content: "\e643";
}

.zebra-icon-clock:before {
	content: "\e644";
}

.zebra-icon-circle_checked:before {
	content: "\e645";
}

.zebra-icon-Cokie:before {
	content: "\e646";
}

.zebra-icon-circle_check_outline:before {
	content: "\e647";
}

.zebra-icon-confused:before {
	content: "\e648";
}

.zebra-icon-done_all:before {
	content: "\e649";
}

.zebra-icon-external_link:before {
	content: "\e64a";
}

.zebra-icon-Color:before {
	content: "\e64b";
}

.zebra-icon-circle_check:before {
	content: "\e64c";
}

.zebra-icon-download_done:before {
	content: "\e64d";
}

.zebra-icon-help_circle:before {
	content: "\e64e";
}

.zebra-icon-happy:before {
	content: "\e64f";
}

.zebra-icon-help_circle_outline:before {
	content: "\e650";
}

.zebra-icon-Flag_outline:before {
	content: "\e651";
}

.zebra-icon-checkbox_checked:before {
	content: "\e652";
}

.zebra-icon-mail_open:before {
	content: "\e653";
}

.zebra-icon-credit_card:before {
	content: "\e654";
}

.zebra-icon-location:before {
	content: "\e655";
}

.zebra-icon-credit_card_alt:before {
	content: "\e656";
}

.zebra-icon-download:before {
	content: "\e657";
}

.zebra-icon-Flag_fill:before {
	content: "\e658";
}

.zebra-icon-layers_alt:before {
	content: "\e659";
}

.zebra-icon-heart_fill:before {
	content: "\e65a";
}

.zebra-icon-command:before {
	content: "\e65b";
}

.zebra-icon-log_out:before {
	content: "\e65c";
}

.zebra-icon-checkbox:before {
	content: "\e65d";
}

.zebra-icon-phone:before {
	content: "\e65e";
}

.zebra-icon-heart_outline:before {
	content: "\e65f";
}

.zebra-icon-radio_filled:before {
	content: "\e660";
}

.zebra-icon-label:before {
	content: "\e661";
}

.zebra-icon-image_alt:before {
	content: "\e662";
}

.zebra-icon-help_questionmark:before {
	content: "\e663";
}

.zebra-icon-share_outline:before {
	content: "\e664";
}

.zebra-icon-settings:before {
	content: "\e665";
}

.zebra-icon-exit:before {
	content: "\e666";
}

.zebra-icon-layers:before {
	content: "\e667";
}

.zebra-icon-loading:before {
	content: "\e668";
}

.zebra-icon-a-link1:before {
	content: "\e669";
}

.zebra-icon-share:before {
	content: "\e66a";
}

.zebra-icon-stopwatch:before {
	content: "\e66b";
}

.zebra-icon-off_outline_close:before {
	content: "\e66c";
}

.zebra-icon-moon:before {
	content: "\e66d";
}

.zebra-icon-settings_future:before {
	content: "\e66e";
}

.zebra-icon-location_outline:before {
	content: "\e66f";
}

.zebra-icon-off_close:before {
	content: "\e670";
}

.zebra-icon-map:before {
	content: "\e671";
}

.zebra-icon-path:before {
	content: "\e672";
}

.zebra-icon-slider_01:before {
	content: "\e673";
}

.zebra-icon-sun:before {
	content: "\e674";
}

.zebra-icon-refresh_02:before {
	content: "\e675";
}

.zebra-icon-chevron_down:before {
	content: "\e604";
}

.zebra-icon-caret_down:before {
	content: "\e605";
}

.zebra-icon-chevron_big_up:before {
	content: "\e606";
}

.zebra-icon-caret_up:before {
	content: "\e607";
}

.zebra-icon-chevron_right:before {
	content: "\e608";
}

.zebra-icon-chevron_duo_up:before {
	content: "\e609";
}

.zebra-icon-circle_chevron_down:before {
	content: "\e60a";
}

.zebra-icon-chevron_left:before {
	content: "\e60b";
}

.zebra-icon-chevron_big_right:before {
	content: "\e60c";
}

.zebra-icon-circle_left:before {
	content: "\e60d";
}

.zebra-icon-chevron_up:before {
	content: "\e60e";
}

.zebra-icon-circle_chevron_up:before {
	content: "\e60f";
}

.zebra-icon-chevron_big_left:before {
	content: "\e610";
}

.zebra-icon-circle_chevron_left:before {
	content: "\e611";
}

.zebra-icon-chevron_big_down:before {
	content: "\e612";
}

.zebra-icon-circle_right:before {
	content: "\e613";
}

.zebra-icon-first_page:before {
	content: "\e614";
}

.zebra-icon-circle_chevron_right:before {
	content: "\e615";
}

.zebra-icon-long_right:before {
	content: "\e616";
}

.zebra-icon-long_up_left_:before {
	content: "\e617";
}

.zebra-icon-long_bottom_down:before {
	content: "\e618";
}

.zebra-icon-long_down:before {
	content: "\e619";
}

.zebra-icon-chevron_duo_left:before {
	content: "\e61a";
}

.zebra-icon-long_left:before {
	content: "\e61b";
}

.zebra-icon-chevron_duo_down:before {
	content: "\e61c";
}

.zebra-icon-small_long_left:before {
	content: "\e61d";
}

.zebra-icon-shrink:before {
	content: "\e61e";
}

.zebra-icon-last_page:before {
	content: "\e61f";
}

.zebra-icon-chevron_duo_right:before {
	content: "\e620";
}

.zebra-icon-short_down:before {
	content: "\e621";
}

.zebra-icon-short_right:before {
	content: "\e622";
}

.zebra-icon-sub_right:before {
	content: "\e623";
}

.zebra-icon-short_up:before {
	content: "\e624";
}

.zebra-icon-small_long_right:before {
	content: "\e625";
}

.zebra-icon-circle_up:before {
	content: "\e626";
}

.zebra-icon-small_long_up:before {
	content: "\e627";
}

.zebra-icon-short_left:before {
	content: "\e628";
}

.zebra-icon-sub_left:before {
	content: "\e629";
}

.zebra-icon-thin_big_left:before {
	content: "\e62a";
}

.zebra-icon-thin_big_up:before {
	content: "\e62b";
}

.zebra-icon-expand:before {
	content: "\e62c";
}

.zebra-icon-circle_down:before {
	content: "\e62d";
}

.zebra-icon-long_bottom_up:before {
	content: "\e62e";
}

.zebra-icon-thin_long_02_up:before {
	content: "\e62f";
}

.zebra-icon-thin_big_down:before {
	content: "\e630";
}

.zebra-icon-thin_long_02_left:before {
	content: "\e631";
}

.zebra-icon-caret_right:before {
	content: "\e632";
}

.zebra-icon-thin_long_02_down:before {
	content: "\e633";
}

.zebra-icon-long_up:before {
	content: "\e634";
}

.zebra-icon-thin_long_up:before {
	content: "\e635";
}

.zebra-icon-thin_big_right:before {
	content: "\e636";
}

.zebra-icon-unfold_less:before {
	content: "\e637";
}

.zebra-icon-small_long_down:before {
	content: "\e638";
}

.zebra-icon-unfold_more:before {
	content: "\e639";
}

.zebra-icon-thin_long_02_right:before {
	content: "\e63a";
}

.zebra-icon-thin_long_right:before {
	content: "\e63b";
}

.zebra-icon-caret_left:before {
	content: "\e63c";
}

.zebra-icon-long_up_right:before {
	content: "\e63d";
}

.zebra-icon-thin_long_down:before {
	content: "\e63e";
}

.zebra-icon-thin_long_left:before {
	content: "\e63f";
}

.zebra-icon-delete-key:before {
	content: "\e746";
}

.zebra-icon-hide-key:before {
	content: "\e745";
}
