.z-barrage[data-v-f6b3e5be] {
  position: relative;
  overflow: hidden;
}
.z-barrage__item[data-v-f6b3e5be] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 99;
  padding-bottom: var(--z-barrage-space);
  font-family: var(--z-barrage-font);
  font-size: var(--z-barrage-font-size);
  font-weight: 700;
  line-height: 1;
  color: var(--z-barrage-color);
  text-shadow:
    0.0625rem 0 0.0625rem #000,
    0 0.0625rem 0.0625rem #000,
    0 -0.0625rem 0.0625rem #000,
    -0.0625rem 0 0.0625rem #000;
  white-space: nowrap;
  -webkit-user-select: none;
  user-select: none;
  opacity: 0.75;
  transform: translate(110%);
  animation-name: z-barrage-f6b3e5be;
  will-change: transform;
}
@keyframes z-barrage-f6b3e5be {
  0% {
    transform: translate(110%);
  }
  to {
    transform: translate(var(--move-distance));
  }
}
.demo-barrage .video[data-v-a079e183] {
  width: 100%;
  height: 9.375rem;
  background-color: var(--z-gray-2);
}
