.demo-checkbox .checkbox-content[data-v-ec02ebbe] {
  margin-top: 0.625rem;
}
.demo-checkbox .img-icon[data-v-ec02ebbe] {
  width: 1.25rem;
  height: 1.25rem;
}
.demo-checkbox .button-group[data-v-ec02ebbe] {
  display: flex;
  align-items: center;
  margin-top: 0.9375rem;
}
.demo-checkbox .button-content[data-v-ec02ebbe] {
  margin-left: 0.625rem;
}
