.z-circle[data-v-3daa27fb] {
  position: relative;
  display: inline-block;
  text-align: center;
}
.z-circle__text[data-v-3daa27fb] {
  position: absolute;
  top: 50%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0 var(--z-padding-base);
  font-size: var(--z-circle-text-font-size);
  font-weight: var(--z-circle-text-font-weight);
  line-height: var(--z-circle-text-line-height);
  color: var(--z-circle-text-color);
  transform: translateY(-50%);
}
.demo-circle .content[data-v-dd7a8799] {
  display: flex;
  flex-wrap: wrap;
}
.demo-circle .content .content-item[data-v-dd7a8799] {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  margin: 0.9375rem;
}
