.z-count-down[data-v-62c8fb80] {
  font-size: var(--z-count-down-font-size);
  line-height: var(--z-count-down-line-height);
  color: var(--z-count-down-text-color);
}
.demo-count-down .colon[data-v-293d47b5] {
  display: inline-block;
  margin: 0 0.25rem;
  color: var(--z-primary-color);
}
.demo-count-down .block[data-v-293d47b5] {
  display: inline-block;
  width: 1.375rem;
  font-size: 0.75rem;
  color: #fff;
  text-align: center;
  background-color: var(--z-primary-color);
  border-radius: 0.25rem;
}
.demo-count-down .count-content[data-v-293d47b5] {
  margin-bottom: 0.9375rem;
  margin-left: 0.3125rem;
}
