.z-dropdown-item[data-v-6d3eebd9] {
  position: fixed;
  right: 0;
  left: 0;
  z-index: var(--z-dropdown-item-z-index);
  overflow: hidden;
}
.z-dropdown-item--up[data-v-6d3eebd9] {
  top: 0;
}
.z-dropdown-item--down[data-v-6d3eebd9] {
  bottom: 0;
}
.z-dropdown-menu[data-v-8e449b1a] {
  -webkit-user-select: none;
  user-select: none;
}
.z-dropdown-menu__bar[data-v-8e449b1a] {
  position: relative;
  display: flex;
  height: var(--z-dropdown-menu-height);
  background: var(--z-dropdown-menu-background);
  box-shadow: var(--z-dropdown-menu-shadow);
}
.z-dropdown-menu__bar--opened[data-v-8e449b1a] {
  z-index: calc(var(--z-dropdown-item-z-index) + 1);
}
.z-dropdown-menu__bar--scrollable[data-v-8e449b1a] {
  padding-right: var(--z-padding-xs);
  padding-left: var(--z-padding-base);
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
}
.z-dropdown-menu__bar--scrollable[data-v-8e449b1a]::-webkit-scrollbar {
  display: none;
}
.z-dropdown-menu__item[data-v-8e449b1a] {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  min-width: 0;
}
.z-dropdown-menu__item--disabled .z-dropdown-menu__title[data-v-8e449b1a] {
  color: var(--z-dropdown-menu-title-disabled-text-color);
}
.z-dropdown-menu__item--grow[data-v-8e449b1a] {
  flex: 1 0 auto;
  padding-right: var(--z-padding-sm);
  padding-left: var(--z-padding-base);
}
.z-dropdown-menu__title[data-v-8e449b1a] {
  position: relative;
  box-sizing: border-box;
  max-width: 100%;
  padding: var(--z-dropdown-menu-title-padding);
  font-size: var(--z-dropdown-menu-title-font-size);
  line-height: var(--z-dropdown-menu-title-line-height);
  color: var(--z-dropdown-menu-title-text-color);
}
.z-dropdown-menu__title[data-v-8e449b1a]:after {
  position: absolute;
  top: 50%;
  right: -0.25rem;
  margin-top: -0.3125rem;
  content: '';
  border: 0.1875rem solid;
  border-color: transparent transparent var(--z-gray-4) var(--z-gray-4);
  opacity: 0.8;
  transform: rotate(-45deg);
}
.z-dropdown-menu__title--active[data-v-8e449b1a] {
  color: var(--z-dropdown-menu-title-active-text-color);
}
.z-dropdown-menu__title--active[data-v-8e449b1a]:after {
  border-color: transparent transparent currentcolor currentcolor;
}
.z-dropdown-menu__title--down[data-v-8e449b1a]:after {
  margin-top: -0.0625rem;
  transform: rotate(135deg);
}
