.z-floating-panel[data-v-6f354a81] {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: var(--z-floating-panel-z-index);
  display: flex;
  flex-direction: column;
  width: 100vw;
  touch-action: none;
  background: var(--z-floating-panel-background);
  border-top-left-radius: var(--z-floating-panel-border-radius);
  border-top-right-radius: var(--z-floating-panel-border-radius);
  will-change: transform;
}
.z-floating-panel[data-v-6f354a81]:after {
  position: absolute;
  bottom: -100vh;
  display: block;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: inherit;
}
.z-floating-panel__header[data-v-6f354a81] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--z-floating-panel-header-height);
  cursor: grab;
  -webkit-user-select: none;
  user-select: none;
}
.z-floating-panel__header-bar[data-v-6f354a81] {
  width: var(--z-floating-panel-bar-width);
  height: var(--z-floating-panel-bar-height);
  background: var(--z-floating-panel-bar-color);
  border-radius: var(--z-radius-md);
}
.z-floating-panel__content[data-v-6f354a81] {
  flex: 1;
  min-width: 0;
  min-height: 0;
  background-color: var(--z-floating-panel-background);
}
