.demo-icon[data-v-8fb7d9ee] {
  color: var(--z-text-color);
}
.demo-icon .list[data-v-8fb7d9ee] {
  display: flex;
  flex-wrap: wrap;
}
.demo-icon .list .item[data-v-8fb7d9ee] {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 25%;
  height: 4.6875rem;
}
.demo-icon .list .item[data-v-8fb7d9ee]:active {
  background-color: var(--z-line-color);
}
