.z-notify[data-v-9a44eb61] {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--z-notify-padding);
  font-size: var(--z-notify-font-size);
  line-height: var(--z-notify-line-height);
  color: var(--z-notify-text-color);
  text-align: center;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.z-notify__placeholder--primary[data-v-9a44eb61] {
  background: var(--z-notify-primary-background);
}
.z-notify__placeholder--success[data-v-9a44eb61] {
  background: var(--z-notify-success-background);
}
.z-notify__placeholder--danger[data-v-9a44eb61] {
  background: var(--z-notify-danger-background);
}
.z-notify__placeholder--warning[data-v-9a44eb61] {
  background: var(--z-notify-warning-background);
}
.z-notify--primary[data-v-9a44eb61] {
  background: var(--z-notify-primary-background);
}
.z-notify--success[data-v-9a44eb61] {
  background: var(--z-notify-success-background);
}
.z-notify--danger[data-v-9a44eb61] {
  background: var(--z-notify-danger-background);
}
.z-notify--warning[data-v-9a44eb61] {
  background: var(--z-notify-warning-background);
}
