.z-popover[data-v-c74b4080] {
  display: inline-block;
}
.z-popover__arrow[data-v-c74b4080] {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: var(--z-popover-arrow-size);
}
.z-popover__content[data-v-c74b4080] {
  overflow: hidden;
  border-radius: var(--z-popover-radius);
}
.z-popover__content--horizontal[data-v-c74b4080] {
  display: flex;
  width: -webkit-max-content;
  width: max-content;
}
.z-popover__content--horizontal .z-popover__action[data-v-c74b4080] {
  flex: none;
  width: auto;
  height: var(--z-popover-horizontal-action-height);
  padding: 0 var(--z-padding-sm);
}
.z-popover__content--horizontal
  .z-popover__action[data-v-c74b4080]:last-child:after {
  display: none;
}
.z-popover__content--horizontal .z-popover__action-icon[data-v-c74b4080] {
  margin-right: var(--z-padding-base);
  font-size: var(--z-popover-horizontal-action-icon-size);
}
.z-popover__action[data-v-c74b4080] {
  position: relative;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: var(--z-popover-action-width);
  height: var(--z-popover-action-height);
  padding: 0 var(--z-padding-md);
  font-size: var(--z-popover-action-font-size);
  line-height: var(--z-line-height-md);
  cursor: pointer;
}
.z-popover__action:last-child .z-popover__action-text[data-v-c74b4080]:after {
  display: none;
}
.z-popover__action-text[data-v-c74b4080] {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
  height: 100%;
}
.z-popover__action--with-icon .z-popover__action-text[data-v-c74b4080] {
  justify-content: flex-start;
}
.z-popover[data-popper-placement^='top'] .z-popover__arrow[data-v-c74b4080] {
  bottom: 0;
  margin-bottom: calc(var(--z-popover-arrow-size) * -1);
  border-top-color: currentcolor;
  border-bottom-width: 0;
}
.z-popover[data-popper-placement='top'][data-v-c74b4080] {
  transform-origin: 50% 100%;
}
.z-popover[data-popper-placement='top'] .z-popover__arrow[data-v-c74b4080] {
  left: 50%;
  transform: translate(-50%);
}
.z-popover[data-popper-placement='top-start'][data-v-c74b4080] {
  transform-origin: 0 100%;
}
.z-popover[data-popper-placement='top-start']
  .z-popover__arrow[data-v-c74b4080] {
  left: var(--z-padding-md);
}
.z-popover[data-popper-placement='top-end'][data-v-c74b4080] {
  transform-origin: 100% 100%;
}
.z-popover[data-popper-placement='top-end'] .z-popover__arrow[data-v-c74b4080] {
  right: var(--z-padding-md);
}
.z-popover[data-popper-placement^='left'] .z-popover__arrow[data-v-c74b4080] {
  right: 0;
  margin-right: calc(var(--z-popover-arrow-size) * -1);
  border-right-width: 0;
  border-left-color: currentcolor;
}
.z-popover[data-popper-placement='left'][data-v-c74b4080] {
  transform-origin: 100% 50%;
}
.z-popover[data-popper-placement='left'] .z-popover__arrow[data-v-c74b4080] {
  top: 50%;
  transform: translateY(-50%);
}
.z-popover[data-popper-placement='left-start'][data-v-c74b4080] {
  transform-origin: 100% 0;
}
.z-popover[data-popper-placement='left-start']
  .z-popover__arrow[data-v-c74b4080] {
  top: var(--z-padding-md);
}
.z-popover[data-popper-placement='left-end'][data-v-c74b4080] {
  transform-origin: 100% 100%;
}
.z-popover[data-popper-placement='left-end']
  .z-popover__arrow[data-v-c74b4080] {
  bottom: var(--z-padding-md);
}
.z-popover[data-popper-placement^='right'] .z-popover__arrow[data-v-c74b4080] {
  left: 0;
  margin-left: calc(var(--z-popover-arrow-size) * -1);
  border-right-color: currentcolor;
  border-left-width: 0;
}
.z-popover[data-popper-placement='right'][data-v-c74b4080] {
  transform-origin: 0 50%;
}
.z-popover[data-popper-placement='right'] .z-popover__arrow[data-v-c74b4080] {
  top: 50%;
  transform: translateY(-50%);
}
.z-popover[data-popper-placement='right-start'][data-v-c74b4080] {
  transform-origin: 0 0;
}
.z-popover[data-popper-placement='right-start']
  .z-popover__arrow[data-v-c74b4080] {
  top: var(--z-padding-md);
}
.z-popover[data-popper-placement='right-end'][data-v-c74b4080] {
  transform-origin: 0 100%;
}
.z-popover[data-popper-placement='right-end']
  .z-popover__arrow[data-v-c74b4080] {
  bottom: var(--z-padding-md);
}
.z-popover[data-popper-placement^='bottom'] .z-popover__arrow[data-v-c74b4080] {
  top: 0;
  margin-top: calc(var(--z-popover-arrow-size) * -1);
  border-top-width: 0;
  border-bottom-color: currentcolor;
}
.z-popover[data-popper-placement='bottom'][data-v-c74b4080] {
  transform-origin: 50% 0;
}
.z-popover[data-popper-placement='bottom'] .z-popover__arrow[data-v-c74b4080] {
  left: 50%;
  transform: translate(-50%);
}
.z-popover[data-popper-placement='bottom-start'][data-v-c74b4080] {
  transform-origin: 0 0;
}
.z-popover[data-popper-placement='bottom-start']
  .z-popover__arrow[data-v-c74b4080] {
  left: var(--z-padding-md);
}
.z-popover[data-popper-placement='bottom-end'][data-v-c74b4080] {
  transform-origin: 100% 0;
}
.z-popover[data-popper-placement='bottom-end']
  .z-popover__arrow[data-v-c74b4080] {
  right: var(--z-padding-md);
}
.z-popover--light[data-v-c74b4080] {
  color: var(--z-popover-light-text-color);
}
.z-popover--light .z-popover__content[data-v-c74b4080] {
  background: var(--z-popover-light-background);
  box-shadow: 0 0.125rem 0.75rem rgba(50, 50, 51, 0.12);
}
.z-popover--light .z-popover__arrow[data-v-c74b4080] {
  color: var(--z-popover-light-background);
}
.z-popover--light .z-popover__action[data-v-c74b4080]:active {
  background-color: var(--z-active-color);
}
.z-popover--light .z-popover__action--disabled[data-v-c74b4080] {
  color: var(--z-popover-light-action-disabled-text-color);
  cursor: not-allowed;
}
.z-popover--light .z-popover__action--disabled[data-v-c74b4080]:active {
  background-color: transparent;
}
.z-popover--dark[data-v-c74b4080] {
  color: var(--z-popover-dark-text-color);
}
.z-popover--dark .z-popover__content[data-v-c74b4080] {
  background: var(--z-popover-dark-background);
}
.z-popover--dark .z-popover__arrow[data-v-c74b4080] {
  color: var(--z-popover-dark-background);
}
.z-popover--dark .z-popover__action[data-v-c74b4080]:active {
  background-color: rgba(0, 0, 0, 0.2);
}
.z-popover--dark .z-popover__action--disabled[data-v-c74b4080] {
  color: var(--z-popover-dark-action-disabled-text-color);
}
.z-popover--dark .z-popover__action--disabled[data-v-c74b4080]:active {
  background-color: transparent;
}
.z-popover--dark .z-popover__action-text[data-v-c74b4080]:after {
  border-color: var(--z-gray-7);
}
.demo-popover-box[data-v-da43a69a] {
  display: flex;
  justify-content: center;
  margin: 6.875rem 0;
}
.demo-popover-refer[data-v-da43a69a] {
  width: 3.75rem;
  height: 3.75rem;
  background-color: var(--z-blue);
  border-radius: 0.5rem;
}
