.z-progress[data-v-8be5dda6] {
  position: relative;
  height: var(--z-progress-height);
  background: var(--z-progress-background);
  border-radius: var(--z-progress-height);
}
.z-progress__portion[data-v-8be5dda6] {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--z-progress-color);
  border-radius: inherit;
  transition: all var(--z-duration-base) var(--z-ease-out);
  transform-origin: 0;
}
.z-progress__portion--inactive[data-v-8be5dda6] {
  background: var(--z-progress-inactive-color);
}
.z-progress__pivot[data-v-8be5dda6] {
  position: absolute;
  top: 50%;
  box-sizing: border-box;
  min-width: 3.6em;
  padding: var(--z-progress-pivot-padding);
  font-size: var(--z-progress-pivot-font-size);
  line-height: var(--z-progress-pivot-line-height);
  color: var(--z-progress-pivot-text-color);
  text-align: center;
  word-break: keep-all;
  background: var(--z-progress-pivot-background);
  border-radius: 1em;
  transition: all var(--z-duration-base) var(--z-ease-out);
}
.z-progress__pivot--inactive[data-v-8be5dda6] {
  background: var(--z-progress-inactive-color);
}
.demo-progress-item[data-v-0b325a48] {
  margin-top: 0.9375rem;
}
