.demo-pull-refresh .demo-pull-refresh[data-v-aaa373ed] {
  background-color: var(--z-background-2);
}
.demo-pull-refresh .demo-pull-refresh .z-pull-refresh[data-v-aaa373ed] {
  height: calc(100vh - 3.125rem);
}
.demo-pull-refresh .demo-pull-refresh .doge[data-v-aaa373ed] {
  width: 8.75rem;
  height: 4.5rem;
  margin-top: 0.5rem;
  border-radius: 0.25rem;
}
.demo-pull-refresh .demo-pull-refresh uni-text[data-v-aaa373ed] {
  padding: var(--z-padding-md) 0 0 var(--z-padding-md);
  margin: 0;
}
