.z-search[data-v-518f95e1] {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: var(--z-search-padding);
  background: var(--z-search-background);
}
.z-search__content[data-v-518f95e1] {
  display: flex;
  flex: 1;
  padding-left: var(--z-padding-sm);
  background: var(--z-search-content-background);
  border-radius: var(--z-radius-sm);
}
.z-search__content--round[data-v-518f95e1] {
  border-radius: var(--z-radius-max);
}
.z-search__label[data-v-518f95e1] {
  padding: var(--z-search-label-padding);
  font-size: var(--z-search-label-font-size);
  line-height: var(--z-search-input-height);
  color: var(--z-search-label-color);
}
.z-search--show-action[data-v-518f95e1] {
  padding-right: 0;
}
.z-search uni-input[data-v-518f95e1]::-webkit-search-decoration,
.z-search uni-input[data-v-518f95e1]::-webkit-search-cancel-button,
.z-search uni-input[data-v-518f95e1]::-webkit-search-results-button,
.z-search uni-input[data-v-518f95e1]::-webkit-search-results-decoration {
  display: none;
}
.z-search__action[data-v-518f95e1] {
  padding: var(--z-search-action-padding);
  font-size: var(--z-search-action-font-size);
  line-height: var(--z-search-input-height);
  color: var(--z-search-action-text-color);
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
}
.z-search__action[data-v-518f95e1]:active {
  background-color: var(--z-active-color);
}
