.z-skeleton-avatar[data-v-bfac5d36] {
  flex-shrink: 0;
  width: var(--z-skeleton-avatar-size);
  height: var(--z-skeleton-avatar-size);
  margin-right: var(--z-padding-md);
  background: var(--z-skeleton-avatar-background);
}
.z-skeleton-avatar--round[data-v-bfac5d36] {
  border-radius: var(--z-radius-max);
}
.z-skeleton-avatar + .z-skeleton__content[data-v-bfac5d36] {
  padding-top: var(--z-padding-xs);
}
.z-skeleton-title[data-v-ac06239c] {
  width: var(--z-skeleton-title-width);
  height: var(--z-skeleton-paragraph-height);
  margin: 0;
  background: var(--z-skeleton-paragraph-background);
}
.z-skeleton-title--round[data-v-ac06239c] {
  border-radius: var(--z-radius-max);
}
.z-skeleton-title + .z-skeleton-paragraph[data-v-ac06239c] {
  margin-top: 1.25rem;
}
.z-skeleton-paragraph[data-v-fd33d58e] {
  height: var(--z-skeleton-paragraph-height);
  background: var(--z-skeleton-paragraph-background);
}
.z-skeleton-paragraph--round[data-v-fd33d58e] {
  border-radius: var(--z-radius-max);
}
.z-skeleton-paragraph[data-v-fd33d58e]:not(:first-child) {
  margin-top: var(--z-skeleton-paragraph-margin-top);
}
.z-skeleton[data-v-96f9494f] {
  display: flex;
}
.z-skeleton__content[data-v-96f9494f] {
  width: 100%;
}
.z-skeleton--animate[data-v-96f9494f] {
  animation: z-skeleton-blink-96f9494f var(--z-skeleton-duration) ease-in-out
    infinite;
}
@keyframes z-skeleton-blink-96f9494f {
  50% {
    opacity: 0.6;
  }
}
.z-skeleton-image[data-v-4b421110] {
  display: flex;
  align-items: center;
  justify-content: center;
  width: var(--z-skeleton-image-size);
  height: var(--z-skeleton-image-size);
  background: var(--z-active-color);
}
.z-skeleton-image--round[data-v-4b421110] {
  border-radius: var(--z-skeleton-image-radius);
}
.demo-skeleton[data-v-c44a6c5a] {
  color: var(--z-text-color);
}
.demo-skeleton-switch[data-v-c44a6c5a] {
  margin-bottom: 0.9375rem;
}
.demo-skeleton-preview[data-v-c44a6c5a] {
  display: flex;
}
.demo-skeleton-preview uni-image[data-v-c44a6c5a] {
  flex-shrink: 0;
  width: 3.125rem;
  height: 3.125rem;
}
.demo-skeleton-content[data-v-c44a6c5a] {
  margin-top: 0.5rem;
}
.demo-skeleton-content .title[data-v-c44a6c5a] {
  font-size: 1.125rem;
  line-height: 1.5625rem;
}
.demo-skeleton-content .desc[data-v-c44a6c5a] {
  font-size: 0.8125rem;
  line-height: 1.25rem;
}
