.demo-swipe .custom-indicator[data-v-cdda4794] {
  position: absolute;
  right: 0.3125rem;
  bottom: 0.3125rem;
  padding: 0.125rem 0.3125rem;
  font-size: 0.75rem;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
}
