.z-cell-group--inset[data-v-01cc7e2c] {
  margin: var(--z-cell-group-inset-padding);
  overflow: hidden;
  border-radius: var(--z-cell-group-inset-radius);
}
.z-cell-group__title[data-v-01cc7e2c] {
  padding: var(--z-cell-group-title-padding);
  font-size: var(--z-cell-group-title-font-size);
  line-height: var(--z-cell-group-title-line-height);
  color: var(--z-cell-group-title-color);
}
.z-cell-group__title--inset[data-v-01cc7e2c] {
  padding: var(--z-cell-group-inset-title-padding);
}
