.z-cell[data-v-659b5e72] {
  position: relative;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  padding: var(--z-cell-vertical-padding) var(--z-cell-horizontal-padding);
  overflow: hidden;
  font-size: var(--z-cell-font-size);
  line-height: var(--z-cell-line-height);
  color: var(--z-cell-text-color);
  background: var(--z-cell-background);
}
.z-cell[data-v-659b5e72]:before {
  position: absolute;
  box-sizing: border-box;
  pointer-events: none;
  content: ' ';
  right: var(--z-padding-md);
  bottom: 0;
  left: var(--z-padding-md);
  border-bottom: 1px solid var(--z-cell-border-color);
  transform: scaleY(0.5);
}
.z-cell[data-v-659b5e72]:last-child:before,
.z-cell--borderless[data-v-659b5e72]:before {
  display: none;
}
.z-cell__label[data-v-659b5e72] {
  margin-top: var(--z-cell-label-margin-top);
  font-size: var(--z-cell-label-font-size);
  line-height: var(--z-cell-label-line-height);
  color: var(--z-cell-label-color);
}
.z-cell__title[data-v-659b5e72],
.z-cell__value[data-v-659b5e72] {
  flex: 1;
}
.z-cell__value[data-v-659b5e72] {
  position: relative;
  overflow: hidden;
  font-size: var(--z-cell-value-font-size);
  color: var(--z-cell-value-color);
  text-align: right;
  word-wrap: break-word;
  vertical-align: middle;
}
.z-cell__left-icon[data-v-659b5e72],
.z-cell__right-icon[data-v-659b5e72] {
  height: var(--z-cell-line-height);
  font-size: var(--z-cell-icon-size);
  line-height: var(--z-cell-line-height);
}
.z-cell__left-icon[data-v-659b5e72] {
  margin-right: var(--z-padding-base);
}
.z-cell__right-icon[data-v-659b5e72] {
  margin-left: var(--z-padding-base);
  color: var(--z-cell-right-icon-color);
}
.z-cell--clickable[data-v-659b5e72] {
  cursor: pointer;
}
.z-cell--clickable[data-v-659b5e72]:active {
  background-color: var(--z-cell-active-color);
}
.z-cell--required[data-v-659b5e72] {
  overflow: visible;
}
.z-cell--required[data-v-659b5e72]:before {
  position: absolute;
  left: var(--z-padding-xs);
  font-size: var(--z-cell-font-size);
  color: var(--z-cell-required-color);
  content: '*';
}
.z-cell--center[data-v-659b5e72] {
  align-items: center;
}
.z-cell--large[data-v-659b5e72] {
  padding-top: var(--z-cell-large-vertical-padding);
  padding-bottom: var(--z-cell-large-vertical-padding);
}
.z-cell--large .z-cell__title[data-v-659b5e72] {
  font-size: var(--z-cell-large-title-font-size);
}
.z-cell--large .z-cell__label[data-v-659b5e72] {
  font-size: var(--z-cell-large-label-font-size);
}
.z-cell--large .z-cell__value[data-v-659b5e72] {
  font-size: var(--z-cell-large-value-font-size);
}
