.z-key[data-v-9d8f40d8] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--z-number-keyboard-key-height);
  font-size: var(--z-number-keyboard-key-font-size);
  line-height: 1.5;
  cursor: pointer;
  background: var(--z-number-keyboard-key-background);
  border-radius: var(--z-radius-lg);
}
.z-key--large[data-v-9d8f40d8] {
  position: absolute;
  inset: 0 0.375rem 0.375rem 0;
  height: auto;
}
.z-key--blue[data-v-9d8f40d8],
.z-key--delete[data-v-9d8f40d8] {
  font-size: var(--z-number-keyboard-delete-font-size);
}
.z-key--active[data-v-9d8f40d8] {
  background-color: var(--z-number-keyboard-key-active-color);
}
.z-key--blue[data-v-9d8f40d8] {
  color: var(--z-number-keyboard-button-text-color);
  background: var(--z-number-keyboard-button-background);
}
.z-key--blue.z-key--active[data-v-9d8f40d8] {
  opacity: var(--z-active-opacity);
}
.z-key__wrapper[data-v-9d8f40d8] {
  position: relative;
  box-sizing: border-box;
  flex: 1;
  flex-basis: 33%;
  padding: 0 0.375rem 0.375rem 0;
}
.z-key__wrapper--wider[data-v-9d8f40d8] {
  flex-basis: 66%;
}
.z-key__delete-icon[data-v-9d8f40d8] {
  width: 2rem;
  height: 1.375rem;
}
.z-key__collapse-icon[data-v-9d8f40d8] {
  width: 1.875rem;
  height: 1.5rem;
}
.z-key__loading-icon[data-v-9d8f40d8] {
  color: var(--z-number-keyboard-button-text-color);
}
.z-number-keyboard[data-v-aa028cf5] {
  width: 100%;
  padding-bottom: 1.375rem;
  -webkit-user-select: none;
  user-select: none;
  background: var(--z-number-keyboard-background);
}
.z-number-keyboard--with-title[data-v-aa028cf5] {
  border-radius: 1.25rem 1.25rem 0 0;
}
.z-number-keyboard__header[data-v-aa028cf5] {
  position: relative;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--z-number-keyboard-title-height);
  padding-top: 0.375rem;
  font-size: var(--z-number-keyboard-title-font-size);
  color: var(--z-number-keyboard-title-color);
}
.z-number-keyboard__title[data-v-aa028cf5] {
  display: inline-block;
  font-weight: 400;
}
.z-number-keyboard__title-left[data-v-aa028cf5] {
  position: absolute;
  left: 0;
}
.z-number-keyboard__body[data-v-aa028cf5] {
  display: flex;
  padding: 0.375rem 0 0 0.375rem;
}
.z-number-keyboard__keys[data-v-aa028cf5] {
  display: flex;
  flex: 3;
  flex-wrap: wrap;
}
.z-number-keyboard__sidebar[data-v-aa028cf5] {
  display: flex;
  flex: 1;
  flex-direction: column;
}
.z-number-keyboard--unfit[data-v-aa028cf5] {
  padding-bottom: 0;
}
