.z-rate[data-v-26183470] {
  display: inline-flex;
  flex-wrap: wrap;
  -webkit-user-select: none;
  user-select: none;
}
.z-rate__item[data-v-26183470] {
  position: relative;
}
.z-rate__item[data-v-26183470]:not(:last-child) {
  padding-right: var(--z-rate-icon-gutter);
}
.z-rate__icon[data-v-26183470] {
  display: block;
  width: 1em;
  font-size: var(--z-rate-icon-size);
  color: var(--z-rate-icon-void-color);
}
.z-rate__icon--half[data-v-26183470] {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  pointer-events: none;
}
.z-rate__icon--full[data-v-26183470] {
  color: var(--z-rate-icon-full-color);
}
.z-rate--disabled[data-v-26183470] {
  cursor: not-allowed;
}
.z-rate--readonly[data-v-26183470] {
  cursor: default;
}
