.z-col[data-v-c488442b] {
  box-sizing: border-box;
  display: block;
  min-height: 0.0625rem;
}
.z-col--1[data-v-c488442b] {
  flex: 0 0 4.1666666667%;
  max-width: 4.1666666667%;
}
.z-col--offset-1[data-v-c488442b] {
  margin-left: 4.1666666667%;
}
.z-col--2[data-v-c488442b] {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
}
.z-col--offset-2[data-v-c488442b] {
  margin-left: 8.3333333333%;
}
.z-col--3[data-v-c488442b] {
  flex: 0 0 12.5%;
  max-width: 12.5%;
}
.z-col--offset-3[data-v-c488442b] {
  margin-left: 12.5%;
}
.z-col--4[data-v-c488442b] {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
}
.z-col--offset-4[data-v-c488442b] {
  margin-left: 16.6666666667%;
}
.z-col--5[data-v-c488442b] {
  flex: 0 0 20.8333333333%;
  max-width: 20.8333333333%;
}
.z-col--offset-5[data-v-c488442b] {
  margin-left: 20.8333333333%;
}
.z-col--6[data-v-c488442b] {
  flex: 0 0 25%;
  max-width: 25%;
}
.z-col--offset-6[data-v-c488442b] {
  margin-left: 25%;
}
.z-col--7[data-v-c488442b] {
  flex: 0 0 29.1666666667%;
  max-width: 29.1666666667%;
}
.z-col--offset-7[data-v-c488442b] {
  margin-left: 29.1666666667%;
}
.z-col--8[data-v-c488442b] {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
}
.z-col--offset-8[data-v-c488442b] {
  margin-left: 33.3333333333%;
}
.z-col--9[data-v-c488442b] {
  flex: 0 0 37.5%;
  max-width: 37.5%;
}
.z-col--offset-9[data-v-c488442b] {
  margin-left: 37.5%;
}
.z-col--10[data-v-c488442b] {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
}
.z-col--offset-10[data-v-c488442b] {
  margin-left: 41.6666666667%;
}
.z-col--11[data-v-c488442b] {
  flex: 0 0 45.8333333333%;
  max-width: 45.8333333333%;
}
.z-col--offset-11[data-v-c488442b] {
  margin-left: 45.8333333333%;
}
.z-col--12[data-v-c488442b] {
  flex: 0 0 50%;
  max-width: 50%;
}
.z-col--offset-12[data-v-c488442b] {
  margin-left: 50%;
}
.z-col--13[data-v-c488442b] {
  flex: 0 0 54.1666666667%;
  max-width: 54.1666666667%;
}
.z-col--offset-13[data-v-c488442b] {
  margin-left: 54.1666666667%;
}
.z-col--14[data-v-c488442b] {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
}
.z-col--offset-14[data-v-c488442b] {
  margin-left: 58.3333333333%;
}
.z-col--15[data-v-c488442b] {
  flex: 0 0 62.5%;
  max-width: 62.5%;
}
.z-col--offset-15[data-v-c488442b] {
  margin-left: 62.5%;
}
.z-col--16[data-v-c488442b] {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
}
.z-col--offset-16[data-v-c488442b] {
  margin-left: 66.6666666667%;
}
.z-col--17[data-v-c488442b] {
  flex: 0 0 70.8333333333%;
  max-width: 70.8333333333%;
}
.z-col--offset-17[data-v-c488442b] {
  margin-left: 70.8333333333%;
}
.z-col--18[data-v-c488442b] {
  flex: 0 0 75%;
  max-width: 75%;
}
.z-col--offset-18[data-v-c488442b] {
  margin-left: 75%;
}
.z-col--19[data-v-c488442b] {
  flex: 0 0 79.1666666667%;
  max-width: 79.1666666667%;
}
.z-col--offset-19[data-v-c488442b] {
  margin-left: 79.1666666667%;
}
.z-col--20[data-v-c488442b] {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
}
.z-col--offset-20[data-v-c488442b] {
  margin-left: 83.3333333333%;
}
.z-col--21[data-v-c488442b] {
  flex: 0 0 87.5%;
  max-width: 87.5%;
}
.z-col--offset-21[data-v-c488442b] {
  margin-left: 87.5%;
}
.z-col--22[data-v-c488442b] {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
}
.z-col--offset-22[data-v-c488442b] {
  margin-left: 91.6666666667%;
}
.z-col--23[data-v-c488442b] {
  flex: 0 0 95.8333333333%;
  max-width: 95.8333333333%;
}
.z-col--offset-23[data-v-c488442b] {
  margin-left: 95.8333333333%;
}
.z-col--24[data-v-c488442b] {
  flex: 0 0 100%;
  max-width: 100%;
}
.z-col--offset-24[data-v-c488442b] {
  margin-left: 100%;
}
.z-row[data-v-7270318e] {
  display: flex;
  flex-wrap: wrap;
}
.z-row--nowrap[data-v-7270318e] {
  flex-wrap: nowrap;
}
.z-row--justify-center[data-v-7270318e] {
  justify-content: center;
}
.z-row--justify-end[data-v-7270318e] {
  justify-content: flex-end;
}
.z-row--justify-space-between[data-v-7270318e] {
  justify-content: space-between;
}
.z-row--justify-space-around[data-v-7270318e] {
  justify-content: space-around;
}
.z-row--align-center[data-v-7270318e] {
  align-items: center;
}
.z-row--align-bottom[data-v-7270318e] {
  align-items: flex-end;
}
