.z-tabbar-item[data-v-ac74c367] {
  position: relative;
  z-index: 10;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--z-tabbar-item-font-size);
  line-height: var(--z-tabbar-item-line-height);
  color: var(--z-tabbar-item-text-color);
}
.z-tabbar-item--active[data-v-ac74c367] {
  color: var(--z-tabbar-item-active-color);
}
.z-tabbar-item--active.z-tabbar-item--animate[data-v-ac74c367] {
  animation-name: pulse-ac74c367;
  animation-duration: 0.5s;
  animation-timing-function: ease-in-out;
}
@keyframes pulse-ac74c367 {
  0% {
    transform: scaleZ(1);
  }
  50% {
    transform: scale3d(1.2, 1.2, 1.2);
  }
  to {
    transform: scaleZ(1);
  }
}
.z-tabbar[data-v-8d10e23e] {
  position: relative;
  z-index: var(--z-tabbar-z-index);
  box-sizing: content-box;
  display: flex;
  width: 100%;
  height: var(--z-tabbar-height);
  background: var(--z-tabbar-background);
}
.z-tabbar--fixed[data-v-8d10e23e] {
  position: fixed;
  bottom: 0;
  left: 0;
}
.z-tabbar__background[data-v-8d10e23e] {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  height: 100%;
  padding: 0.25rem 0.3125rem;
}
.z-tabbar__background--content[data-v-8d10e23e] {
  width: 100%;
  height: 100%;
  background-color: var(--z-tabbar-item-active-background);
  border-radius: 0.3125rem;
}
.z-tabbar--float[data-v-8d10e23e] {
  width: 100%;
  border-radius: 1.5625rem;
  box-shadow:
    0 0.25rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem 0.0625rem rgba(0, 0, 0, 0.04),
    0 0.1875rem 0.9375rem 0.1875rem rgba(0, 0, 0, 0.05);
}
.z-tabbar--fixed.z-tabbar--float[data-v-8d10e23e] {
  bottom: 1.5625rem;
  left: 50%;
  width: 90%;
  border-radius: 1.5625rem;
  box-shadow:
    0 0.25rem 0.3125rem -0.125rem rgba(0, 0, 0, 0.08),
    0 0.5rem 0.75rem 0.0625rem rgba(0, 0, 0, 0.04),
    0 0.1875rem 0.9375rem 0.1875rem rgba(0, 0, 0, 0.05);
  transform: translate(-50%);
}
